// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: rgb(243, 243, 243);
}
.site-title {
  font-size: 5em;
  border-bottom: 30px solid;
  padding-bottom: 15px;
  color: rgb(43, 43, 43);
}